<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBxD8ph-2mFjEixiske58aBLPDHgAb4dqI</string>
	<key>GCM_SENDER_ID</key>
	<string>164901685876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tarek.vehicleTracking</string>
	<key>PROJECT_ID</key>
	<string>vehicle-ts</string>
	<key>STORAGE_BUCKET</key>
	<string>vehicle-ts.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:164901685876:ios:57d8332ea8d727bb1e1f21</string>
	<key>DATABASE_URL</key>
	<string>https://vehicle-ts-default-rtdb.firebaseio.com</string>
</dict>
</plist>